body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}

.header {
    grid-area: header;
    background-color: #eca03d;
    color: rgb(11, 0, 0);
    text-align: center;
    padding: 1rem;
}

.nav{
    grid-area: nav;
    background-color: rgb(8, 60, 67);
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav ul li {
    border-bottom: 1px solid #51492c;
}

.nav ul li a {
    color: rgb(234, 221, 221);
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
}

.nav ul li a:hover {
    background-color: #2268d8;
}

.main {
    grid-area: main;
    padding: 1rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.footer {
    grid-area: footer;
    background-color: #020111;
    color: white;
    text-align: center;
    padding: 1rem;
    
}

@media (min-width: 768px) {
   .grid-container {
     grid-template-areas: 
      "nav"
      "header"
      "main"
      "footer";
   }

   .nav ul {
    display: flex;
    flex-direction: row;
   }

   .nav ul li{
    border: none;
   }

   .nav ul li a {
    border-right: 1px solid #2cdd09;
    border-bottom: none;
   }
   
   .nav ul li a:last-child {
    border-right: none;
   }

   .gallery img{
    width: calc(50% - 10px);
   }
}

@media (min-width: 1024px) {
    .gallery img {
        width: calc(33.333% - 10px);
    }
}
