/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8ebaa59c;
}

header {
    background-color: rgb(14, 216, 199);
    padding: 5px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #db11c0;
}

/* Navigation styles */
.navbar {
    background-color: #52514c;
    overflow: visible;
    padding: 10px;
    margin: 10px;
    border: 2px solid #e7a013;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(28, 27, 27, 0.1);
    position: relative;
    z-index: 10;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    border: #45a049 2px solid;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #575757;
    align-items: center;
    justify-content: center;
}

.menu-item {
    margin: 0 10px;
    position: relative;
}

.menu-item a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.menu-item a i {
    margin-right: 8px;
}

.menu-item a:hover {
    background-color: #92908a;
    border-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li a:hover {
    background-color: #575757;
}

/* Main content styles */
main {
    padding: 10px;
}

.intro, .features, .game, .about, .team, .education, .fun-facts, .feedback {
    margin-bottom: 20px;
}

/* Game area styles */
#game-area {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-area img {
    width: 280px;
    height: 280px;
    object-fit: contain;
}

#options {
    display: flex;
    justify-content: center;
}

#options button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f245d8;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#options button:hover {
    background-color: #ffcc00;
}

#feedback {
    margin-top: 20px;
    font-size: 18px;
}

#timer {
    margin-top: 10px;
    font-size: 18px;
    color: #ff4500;
}

button {
    background-color: #ffb347;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff6f61;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form label {
    margin-top: 10px;
}

form input, form select, form textarea, form button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover {
    background-color: #45a049;
}

.intro img {
    min-width: 80%; /* Make image responsive */
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Footer styles */
footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    
}

/* Responsive styles */
@media (max-width: 600px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu-item {
        margin: 10px 0;
    }

    #game-area img {
        width: 150px;
        height: 150px;
    }

    #options button {
        font-size: 14px;
    }
}
